body {
    background-color: #f4ffff;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cormorant+Garamond:wght@300&family=Libre+Baskerville&display=swap');



#menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-right: 20px;
    text-align: center;
}

#menu li:hover {
    background-color: #f4ffff;
    padding: 10px;
}

#menu-item{
    justify-content: space-around;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

.nav {
    background-color: #01afd1;
}

#nav-item {
    background-color: #01afd1;
    color: black;
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    justify-content: space-evenly;
}

#nav-item:hover {
    background-color: #f4ffff;
    font-size: 16px;
    padding: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Arvo', serif;
    text-align: center;
}


.head-box {
    display: flex;
    background-color: #9abbeb;
    padding-top: 1%;
}

#para {
  
    margin: 10%;
    color: #f4ffff;
    font-size: 22px;
}

#heading {
    font-family: 'Comorant Garamond', serif;
    color: #01afd1;
    text-shadow: 0 0 black;
    text-align: left;
    font-size: 40px;
    padding: 40px;
}

#plane {
    position: absolute;
    top: 52%;
    left: 0;
    width: 42%;
    height: auto;
}

/*End of First Section and Beginning of Second Section*/
#hot-deals{
    font-family: 'Kablammo', cursive;
    font-weight: bold;
    font-size: 75px;
    text-decoration: wavy;
    
}