body {
    background-color: #f4ffff;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arvo&family=Cormorant+Garamond:wght@300&family=Kablammo&family=Questrial&display=swap');


#menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-right: 20px;
    text-align: center;
}



#menu-item{
    width: 100%;
    justify-content: space-around;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

.nav {
    background-color: #01afd1;
 
}


#nav-item {
    width: 100%;
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    justify-content: space-evenly;
}

#nav-item:hover {
    background-color: #f4ffff;
    object-fit: cover;
    
}

.video-contain {
    width: 100%;
    height: 500px;
}

.video-contain video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.over-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4ffff;
    font-family: 'Arvo', serif;
    font-size: 20px;
}

.over-img {
    position: absolute;
    top: 43px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

#video-title {
    margin: 0;
    padding-top: 15%;
    font-family: 'Arvo', serif;
    font-size: 40px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-decoration: wavy;
}


.head-box {
    display: flex;
    background-color: #9abbeb;
    align-items: center;
    justify-content: space-between;
}

#head-pic h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#head-word {
    flex: 2;
}

#new-title {
    font-size: 50px;
    color: #01afd1;
    text-shadow:
    -1px -1px 0 #01afd1,
    1px -1px 0 #01afd1,
    -1px 1px 0 #01afd1,
    1px 1px 0 #01afd1;
}


#head-pic {
    flex: 1;
    margin-right: 20px;
}

#para {
    line-height: 1.5;
    color: #f4ffff;
    font-size: 22px;
}

#heading {
    font-family: 'Comorant Garamond', serif;
    color: #01afd1;
    text-shadow: 0 0 black;
    text-align: left;
    font-size: 40px;
    padding: 40px;
    margin-top: 20px;
}

#plane {
    display: absolute;
}

/*End of First Section and Beginning of Second Section*/
#book-head{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-decoration: wavy;
    
}

.book-set {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-btns {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-btns button {
    
    text-align: center;
    display: inline-block;
    background-color: #239efe;
    color: #f4ffff;
    padding: 8px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card-btns button:hover {
    background-color: #9abbeb;
}


/* Beginning of Contact Us section */

#contact-square > h1 {
    margin-bottom: 30px;
}

#contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact-form {
    width: 40%;
}

.contact-label {
    position: relative;
    left: 1em;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Questrial', sans-serif;
}

.contact-input {
    width: 80%;
    height: 2.5em;
    border-radius: 2em;
    border-style: solid;
    border-color: #6f6f6f;
    font-size: 18px;
}

#message {
    height: 20em;
    overflow-y: scroll;
    padding: 0.5em;
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#message::-webkit-scrollbar {
    display: none;
}

#contact-submit {
    background-color: #239EFE;
    width: 83%;
    height: 2.5em;
    border-radius: 1em;
    border-style: none;
    font-size: 20px;
}

#contact-submit:hover {
    background-color: #38A6FC;
    cursor: pointer;
}


#contact-img {
    height: auto;
    max-width: 100%;
}