body {
    background-color: #f4ffff;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arvo&family=Cormorant+Garamond:wght@300&family=Kablammo&family=Questrial&display=swap');

/*Start of Navigation*/

#menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#menu li {
    text-align: center;
}



#menu-item{
    width: 100%;
    justify-content: space-around;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

.nav {
    background-color: #01afd1;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.mobile-nav {
    display: none;
}


#nav-item {
    width: 100%;
    color: #f4ffff;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

#nav-item:hover {
    background-color: #f4ffff;
    width: 100%;
    color: #000;
    
}

/*End of Navigation*/

/* Beginning of general sections styling */
/* Important for Navbar to not overlap headers when clicking an anchor */

section {
    padding-top: 40px;
}

.section-head {
    margin: 10px 0 20px 0
}

/* End of sections styling */



/*Beginning of Video Header*/

.video-contain {
    width: 100%;
    height: 700px;
}

.video-contain video {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.over-text {
    position: absolute;
    text-align: center;
    color: #f4ffff;
    font-family: sans-serif;
    font-size: 5vw;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 45px;
    text-shadow: black 4px 2px;
    height: fit-content;
}

.over-img {
    position: absolute;
    top: 55px;
    left: 30px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

#video-title {
    margin: 0;
    padding-top: 15%;
    font-family: 'Arvo', serif;
    font-size: 40px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-decoration: wavy;
}


.head-box {
    display: flex;
    background-color: #9abbeb;
    align-items: center;
    justify-content: space-between;
}

#head-pic h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#head-word {
    flex: 2;
}

/*End of Video Header and Beginning of Title Header*/

#new-title {
    font-size: 50px;
    color: #01afd1;
    text-shadow:
    -1px -1px 0 #01afd1,
    1px -1px 0 #01afd1,
    -1px 1px 0 #01afd1,
    1px 1px 0 #01afd1;
}


#head-pic {
    flex: 1;
    margin-right: 20px;
}

#para {
    line-height: 1.5;
    color: #f4ffff;
    font-size: 22px;
}

#heading {
    font-family: 'Comorant Garamond', serif;
    color: #01afd1;
    text-shadow: 0 0 black;
    text-align: left;
    font-size: 40px;
    padding: 40px;
    margin-top: 20px;
}

/*End of First Section and Beginning of Second Section*/
#book-head{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-decoration: wavy;
    
}

.book-set {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    background-color: #faf9fe;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-btns {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-btns button {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    background-color: #239efe;
    color: #f4ffff;
    padding: 8px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card-btns button:hover {
    background-color: #9abbeb;
}
/*End of Booking and Beginning of Hot Deals*/

#deals {
    overflow: hidden;
}

#deals-sub {
    text-align: center;
    font-size: 30px;
}

.carousel-contain {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    
    
}

.nav-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #239EFE;
    color: #f4ffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #239EFE;
    color: #f4ffff;
    border: none;
    border-radius: 50%;
    left: 0;
    cursor: pointer;
    z-index: 2;
}

.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #239EFE;
    color: #f4ffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    right: 20px;
    z-index: 2;
}

/* .carousel {
    display: flex;
    transition: transform 0.3s ease;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    animation: slide 0.5s linear 0.5s;
    justify-content: center;
    align-items: center;
} */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100);
    }
}

.card1 {
    width: 850px;
    max-width: 100%;
    background-color: #faf9fe;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.card1 img {
    width: 100%;
    height: auto;
    display: block;
}

.card1 h1 {
    font-size: 35px;
    margin: 10px;
}

.card1 .reveal-btn {
    font-size: 20px;
    background-color: #239EFE;
    color: #f4ffff;
    display: block;
    padding: 8px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card1 .reveal-btn:hover {
    background-color: #9abbeb;
}

.card1.active .extra-info {
    display: block;
}


#para2 {
    font-size: 20px;
    font-family: 'Acme', serif;
    margin: 20px;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    width: 800px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
}

.slide-button {
    z-index: 1;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    background-color: #239efe;
    color: #f4ffff;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
}
.cardz {
    background: #FAF9FE;
    min-width: 800px;
    height: fit-content;
    margin-right: 2em;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cardz-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#cardz-title {
    font-size: 35px;
    margin: 0;
}

.reveal-btn {
    font-size: 20px;
    background-color: #239EFE;
    color: #f4ffff;
    display: block;
    padding: 8px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.extra-info {
    display: none;
}

.cardz.active .extra-info {
    display: block;
} 

/*End of Hot Deal and Beginning of Destinations*/

#dest-head {
    text-align: center;
    font-size: 30px;
}

.kard-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kard-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.kard {
    width: 300px;
    background-color: #faf9fe;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.kard h2 {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    margin: 10px;
}

#para3 {
    margin: 2px;
    line-height: 1.2;
    padding: 1%;
}

/* Beginning of Contact Us section */

#contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact-form {
    width: 40%;
    padding-bottom: 15px;
    
}

.contact-label {
    position: relative;
    left: 1em;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Questrial', sans-serif;
}

.contact-input {
    background-color: #faf9fe;
    height: 2.5em;
    width: 100%;
    border-radius: 2em;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 18px;
}

#message {
    height: 20em;
    overflow-y: scroll;
    padding: 0.5em;
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#message::-webkit-scrollbar {
    display: none;
}

#contact-submit {
    background-color: #239EFE;
    width: 100%;
    height: 2.5em;
    border-radius: 1em;
    border-style: none;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
}

button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact-submit:hover {
    background-color: #9abbeb;
    cursor: pointer;
}


#contact-img {
    height: auto;
    margin-left: 120px;
    max-width: 100%;
}

/* End of Contact Us section */

/* Beginning of FAQs section */

#faqs-items {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    width: 84%;
    margin: auto;
    flex-wrap: wrap;
}

.faqs-card {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1.5em;
    background-color: #faf9fe;
    text-align: center;
    padding: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
}

.faqs-card.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

    & h3 {
        font-family: sans-serif;
        font-weight: normal;
        line-height: 130%;
    }
}


.faqs-btn {
    background-color: #239EFE;
    border-radius: 2em;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 15px 40px;
    margin: auto;

    &:hover {
        cursor: pointer;
        background-color: #9abbeb;;
    }
}

.faqs-img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.faqs-cards-contain {
    width: 450px;
    perspective: 800px;
    margin: 1em;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;

    &.flipped {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);

    }
}
/*End of Frequently asked questions*/

/*Beginning of Review Section*/
#reviews {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.review-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

#review-head {
    text-align: right;
    padding-right: 10px;
    font-family: 'Acme', serif;
    
}

#review-par {
    margin: 5px;
    line-height: 1.3;
    font-family: 'Acme', serif;
    font-size: 18px;
}

.carden {
    justify-content: space-between;
    width: 400px;
    background-color: #faf9fe;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carden-img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.carden-img img {
    
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.img-cover {
    position: relative;
    object-fit: fill;
    padding: 0;
}

.img-cover img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.ovrly-txt {
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4ffff;
}

.ovrly-txt h2 {
    font-size: 40px;
    margin-bottom: 150px;
}

.ovrly-txt p {
    font-size: 26px;
    margin-bottom: 50px;
}

#review-btn {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #f4ffff;
}
/*End of the Review Section*/

/*Beginning of footer*/
.foot-contain {
    display: flex;
    background-color: #01afd1;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 5px;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icons img {
    width: 40px;
    height: 40px;
    border-radius: -50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#info3 a {
    text-decoration: none;
    
}

.copyright {
    margin-bottom: -100px;
    color: #f4ffff;
}

.info2 {
    color: #f4ffff;
    text-align: left;
}

#mail {
    color: #f4ffff;
}

#info3 {
    color: #f4ffff;
}
/*End of Footer*/

/*Start Of The Mobile Side Of The CSS*/

@media only screen and (max-width: 768px) {

    /* Start of general mobile css */

    .section-head {
        font-size: 55px;
    }

    /* End of general mobile css */

    /* Start of mobile nav */
    .nav {
        display: none;
        top: 40px;
    }

    #menu {
        display: block;
    }

    #nav-item {
        padding: 20px;
        font-size: 20px;
    }

    #mobile-nav-contain {
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 100%;
    }

    .mobile-nav {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        height: 40px;
        right: 3vw;

    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .change {

        .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
            -webkit-transform: translate(0, 11px) rotate(-45deg);
            -moz-transform: translate(0, 11px) rotate(-45deg);
            -ms-transform: translate(0, 11px) rotate(-45deg);
            -o-transform: translate(0, 11px) rotate(-45deg);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            transform: translate(0, -11px) rotate(45deg);
            -webkit-transform: translate(0, -11px) rotate(45deg);
            -moz-transform: translate(0, -11px) rotate(45deg);
            -ms-transform: translate(0, -11px) rotate(45deg);
            -o-transform: translate(0, -11px) rotate(45deg);
        }

    }

    /* End of general mobile nav */

    /* Start of mobile video section */

    .video-contain {
        height: fit-content;
        background-color: #9ABBEB;

        > video {
            height: fit-content;
        }
    }

    .over-text {
        font-size: 6vw;
        top: 10px;
        left: 20px;
        text-shadow: black 2px 2px;
    }
    
    .over-img {
        top: 15px;
        left: 15px;
        width: 60px;
        height: 60px;
    }

    /* End of mobile video section */

    /* Start of mobile header section */

    .head-box {
        display: block;
        width: 100%;
    }

    #head-pic {
        width: 100%;
    }

    #plane {
        width: 100%;
    }

    #new-title {
        margin: 0;
    }

    #para {
        padding: 20px;
        font-size: 25px;
    }

    /* End of mobile header section */

    /* Start of mobile hot deals section */

    .wrapper {
    width: 350px;
    height: 500px;
    }

    .cardz {
        min-width: 350px;
        height: fit-content;
        
    }

    .slide-button {
        height: 40px;
        width: 40px;
    }

    /* End of mobile hot deals section */

    /* Start of mobile contact us section */

    #contact-form {
        width: 75%;
    }

    #contact-img {
        margin: 0;
    }







    /* Start of mobile footer section */

    .copyright {
        margin: 0;
    }

    #info3 {
        margin: 0;
    }
}